* {
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    text-align: center;
}

h1 {
    color: azure;
    margin-top: 2;
    margin-bottom: 20px;
    
}

img.octocat {
    height: 220px;
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    margin: 22px;
    padding: 22px;
}

.pink {
    background-color: salmon;
    justify-content: center;
    padding: 20px;
    
}


.blue {
    background-color:mediumslateblue;